{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/hammer/hammer.min.js' %}"></script>
  
    <style type="text/css">
    </style>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <canvas id="myCanvas" width="750px" height="750px"></canvas>
    
  </p>
</body>
<script>
  
    ////////HELPERS/////////

    // generate 16bit id  
    function generateUniqueID(){
      var num_bits = 16;
      var id = Math.floor(Math.random() * Math.pow(10, num_bits));
      return id.toString();
    }
  
    // generate a hexadecimal string of a number between decimal min and decimal max     
    function generateRandHex(min, max){
      var rand_dec =  Math.round(Math.random() * (max - min) + min);
      var hex_string = rand_dec.toString(16)
      while(hex_string.length < 2){
        hex_string += "0";
      }
      return hex_string;
    }
  
    // generate random hex value
    function generateRandomColor(){
      var color = "#";
      for(var i = 0; i < 3; i++){
        color += generateRandHex(0, 255);
      }
      return color;
    }
    
    function update_userlist(msg){
      var user_list = Object.keys(users);
      if(!user_list.includes(msg.id)){
         var newPath = new paper.Path();
         newPath.strokeColor = msg.text;
         users[msg.id] = newPath;
         console.log(msg.id + " added to users list!");
      }     
    }
  
    function update_color(msg){
      users[msg.id].strokeColor = msg.text;
      console.log("User" + msg.id + "has updated their color to " + msg.text);
    }
    
    function placePixel(x, y, rect_color){
      var x = Math.round(x / 100) * 100;
      var y = Math.round(y / 100) * 100;
      var rect = new paper.Rectangle(new paper.Point(x,y),new paper.Size(100,100));
      var rectPath = new paper.Path.Rectangle(rect);
      rectPath.strokeColor = rect_color;
      rectPath.fillColor = rect_color;
      return rectPath;
    }
    function getSecret(x,y) {
      return secrets["(" + x + ", " + y + ")"]
    }
    function setSecret(x,y,secret){
      secrets["(" + x + ", " + y + ")"] = secret;
    }
    function containsSecret(x,y){
      return secrets["(" + x + ", " + y + ")"] != null;
    }
    // send message     
    function sendMessage(msg_type, msg_text="") {
      var msg = {
        type: msg_type,
        text: msg_text,
        id:   clientID,
        date: Date.now()
      };
      // send       
      socket.send(JSON.stringify(msg));
    }
  
    // message helpers
    function sendText(msg_text) {
      sendMessage("text", msg_text);
    }
  
    function sendConnect() {
      sendMessage("connect", color);
    }
  
    function sendAck() {
      sendMessage("ack", color);
    }
  
    function sendColorChange(new_color) {
      sendMessage("color_change", new_color);
    }
  
    function sendDraw(point){
      sendMessage("draw", JSON.stringify(point));
    }
  
    function sendPixel(point){
      sendMessage("pixel", JSON.stringify(point));
    }
  ////////END  HELPERS/////////
  
  
  
    // setting up the canvas and one paper tool
    var canvas = document.getElementById('myCanvas');
    paper.setup(canvas);
  
    // setup path     
    var tool = new paper.Tool();
    var color = generateRandomColor();
    
    
    // getting the URL (you may want to use for Exercise 3)
    var url = window.location.href;
    
    // init socket     
    var socket = new WebSocket(
        'ws://p4-sanketq-sanketq228645.codeanyapp.com:8765/');
    
    // init client     
    var clientID = generateUniqueID();
    var myPath = new paper.Path();
    myPath.strokeColor = color;
  
    var users = new Object();
    users[clientID] = myPath;
  
    var secrets = new Object();
    
    
    // init display size
    var display_size;
    if (url.indexOf("large") > -1) {
				display_size = "large";
    }
		else {
      display_size = "small";
    }
  
    var gamma = 0;
  
  
    //Init Connection
    socket.onopen = function (event) {
      sendConnect();
    };
  
    // Draw Event
    tool.onMouseMove = function (event) {
      if(display_size === "small"){
        myPath.add(event.point);        
      }
      var point = {
        x: event.point.x,
        y: event.point.y
      };
      sendDraw(point);
    }
    
    tool.onMouseDown = function (event) {      
    
      var x = event.point.x;
      var y = event.point.y;
      
      x = Math.round(x / 100) * 100;
      y = Math.round(y / 100) * 100;
      
      if(containsSecret(x,y)){
        alert(getSecret(x,y));
      }
      else{
        var point = {
          x: event.point.x,
          y: event.point.x,
          color: color,
          secret: generateRandomColor()
        };
        setSecret(x, y, point.secret);
        sendPixel(point);
        placePixel(x, y, color);
      }
    }
    
    // Device Orientation Event
    if (window.DeviceOrientationEvent) {
      console.log("device orientation activated");
      window.addEventListener("deviceorientation", function(event) {
        var new_gamma = event.gamma;
        threshold = 10;
        if(gamma + threshold <= new_gamma){
          color =  generateRandomColor();
          myPath.color = color;
          sendColorChange(color);
        }
        gamma = new_gamma;
      }, false);
    }
    
    var prevX, prevY, prevZ;
    threshold = 15;
  
    // Device Motion Event 
    if (window.DeviceMotionEvent) {
      console.log("device motion activated");
      window.addEventListener('devicemotion', function(event) {
        var a = event.accelerationIncludingGravity;
        //if its the first time, init prevXYZ
        if ((prevX === null) && (prevY === null) && (prevZ === null)) {
            prevX = a.x;
            prevY = a.y;
            lastZ = a.z;
            return;
        }
      
        //calculate deltas
        var deltaX = Math.abs(prevX - a.x);
        var deltaY = Math.abs(prevY - a.y);
        var deltaZ = Math.abs(prevZ - a.z);
       
//      //if at least two of the deltas are above the threshold
        if ((deltaX > threshold && (deltaY > threshold || deltaZ > threshold)) || (deltaY > threshold && deltaZ > threshold)) {
            myPath.remove();
        }

        //set prevXYZ for next time
        prevX = a.x;
        prevY = a.y;
        prevZ = a.z;
      }, false);
    }
    

    socket.onmessage = function(event) {
      var msg = JSON.parse(event.data);
      var time = new Date(msg.date);
      var timeStr = time.toLocaleTimeString();
      
      switch(msg.type) {
          case "text":
            console.log(msg.id + "(" + timeStr + ") : " + msg.text);
            break;
          case "connect":
            console.log(msg.id + " has connected!");
            update_userlist(msg);
            sendAck();
            break;
          case "ack":
            update_userlist(msg);
            break;
          case "color_change":
            update_color(msg);
            break;
          case "draw":
            if(display_size === "large" && msg.id != clientID){
              path = users[msg.id];
              if(path){
                p = JSON.parse(msg.text);
                point = new paper.Point(p.x, p.y);
                path.add(point);
              }
            }
          break;
          case "pixel":
            if(msg.id != clientID){
                p = JSON.parse(msg.text);
                placePixel(p.x, p.y, p.color);
                var x = Math.round(p.x / 100) * 100;
                var y = Math.round(p.y / 100) * 100;
                setPixel(x, y, p.secret);
            }
          break;
      }
    }
</script>
</html>